
.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height:1000px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:600px;
  height:250px;
}

.input{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
}

